APP_NAME="Shop Logistique"
APP_ENV=local
APP_URL=http://localhost/Shop_logistique/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=shop_logistique
DB_USER=root
DB_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/Shop_logistique/public/auth/google/callback

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_REDIRECT_URI=http://localhost/Shop_logistique/public/auth/apple/callback
