APP_NAME="Maduka One"
APP_ENV=local

# APP_ENV=local utilise APP_LOCAL_URL
# APP_ENV=production utilise APP_PRODUCTION_URL
APP_LOCAL_URL=http://localhost/Shop_logistique/public
APP_PRODUCTION_URL=https://madukaone.mupenda.cd

# APP_ENV=local utilise DB_LOCAL_*
# APP_ENV=production utilise DB_PRODUCTION_*
DB_LOCAL_HOST=127.0.0.1
DB_LOCAL_PORT=3306
DB_LOCAL_NAME=shop_logistique
DB_LOCAL_USER=root
DB_LOCAL_PASS=

DB_PRODUCTION_HOST=localhost
DB_PRODUCTION_PORT=3306
DB_PRODUCTION_NAME=mupendac_madukaone
DB_PRODUCTION_USER=mupendac_MadukaOne
DB_PRODUCTION_PASS=RF0banQF&iYzn1d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/Shop_logistique/public/auth/google/callback

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_REDIRECT_URI=http://localhost/Shop_logistique/public/auth/apple/callback

BACKUP_DISK=local
BACKUP_PATH=
MYSQLDUMP_PATH=mysqldump

SFTP_HOST=
SFTP_PORT=22
SFTP_USERNAME=
SFTP_PASSWORD=
SFTP_PUBLIC_KEY=
SFTP_PRIVATE_KEY=
SFTP_PASSPHRASE=
SFTP_PATH=/backups

S3_BUCKET=
S3_REGION=us-east-1
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_PREFIX=shop-logistique/backups
